.container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 15px solid rgb(255, 30, 0);
    animation: rotate 2s infinite linear;
}
.welcome::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 12px;
    border-top: 15px solid white;
    border-radius: 50%;
    animation: rotate 3s infinite linear;

}
h2{
    color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
body{
    background-color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
img{
    max-height: 200px;
    width: auto;
    display: flex;
    position: relative;
    top: -50px
}
.bloc{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 60px;
    border: 2px solid black;
    margin: 0 auto;
    place-items: center;
    position: relative;
    bottom: -170px;
}
label{
    position: relative;
    top: -80px;
}
input[type="text"]:hover{
    color: black;
    background-color: white;
    border: 3px solid red;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scale(1.30);
}
input[type="text"]{
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    top: -80px;
}

button{
    font-weight: bolder;
    font-style: italic;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: -80px;
    border: none;
    border-radius: 10px;
    background-color: red;
    height: 25px;
    width: 80px;
    color: white;
}
button:hover{ 
    background-color: black;
    color: orangered;
    transform: scale(1.30);
}
button:active{
    transform: scale(0.60);
}

