body{
    background-color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.bloc{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 60px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 30px;
    place-items: center;
    position: relative;
    bottom: -110px;
}
p{
    text-align: center;
}
h1{
    font-size: 20px;
    color: orangered;
}
p{
    font-size: 20px;
}
h3{
    font-size: 20px;
}
b{
    color: red;
}
form{
    font-size: 20px;
}
input[type="checkbox"]:hover{
    border: 20px solid black;
    transform: scale(1.68);
}
input[type="checkbox"]:checked{
    accent-color: red;
}
button{
    color: white;
    background-color: red;
    font-weight: bolder;
    font-style: italic;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 10px;
}
button:hover{ 
    background-color: black;
    color: orangered;
    transform: scale(1.30);
}
button:active{
    transform: scale(0.60);
}



