body{
    background-color: orangered;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
img{
    max-height: 200px;
    width: auto;
    display: flex;
    position: relative;
    top: -50px
}
.part{
    position: relative;
    top: -100px;
}
.bloc{
    width: 50%;
    height: 60vh;
    background-color: white;
    border-radius: 40px;
    border: 2px solid black;
    margin: 0 auto;
    place-items: center;
    position: relative;
    bottom: -100px;
}
h3{
    position: relative;
    top: -190px;
}
b{
    color: red;
}
button{
    color: white;
    background-color: red;
    font-weight: bolder;
    font-style: italic;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 105px;
    height: 25px;
    margin: auto;
    border: none;
    border-radius: 10px;
    position: relative;
    place-items: center;
    top: -180px;
}
button:hover{ 
    background-color: black;
    color: orangered;
    transform: scale(1.30);
}
button:active{
    transform: scale(0.60);
}