<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Pro_Quiz</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container" id="container">
        <div class="welcome"></div>
        <h2>Welcome in...</h2>
    </div>
    <div class="bloc" id="bloc" style="display: none">
        
        <img src="../static/images/imagept1.png">
        <form method="POST" action="/" id="Formget">
            <label>Nom du joueur</label>
            <input type="text" name="username" id="username" required>
            <button type="button" id="btn">JOUER</button>
        </form>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>