<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win Level {{niveau}}</title>
    <link rel="stylesheet" href="../static/css/rst.css">
</head>
<body>
    <div class="bloc">
             <img src="../static/images/imagept1.png">
             <div class="part"><img src="../static/images/win.png"></div>
             <h3>Bravo ! Niveau <b>{{niveau}}</b> Validé</h3>
        <div class="part2">
             <a href="{{url_for('pt2')}}" class="btn-nav"><button type="button">Continuer</button></a>
             <a href="{{url_for('pt1')}}" class="btn-nav"><button type="button">Recommencer</button></a>
             <a href="{{url_for('index')}}" class="btn-nav"><button type="button">Accueil</button></a>
        </div>
    </div>
    <script src="../static/js/rst.js"></script>
</body>
</html>