<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magie Pro_Quiz</title>
    <link rel="stylesheet" href="../static/css/thk.css">
</head>
<body>
    <div class="bloc">
         <img src="../static/images/imagept1.png">
        <div class="part"><img src="../static/images/win.png"></div>
        <h4>Félicitation pour votre parcours dans <b>Pro_Quiz</b>, score final <b>{{score}}/{{total}} .</b> <b> Merci pour la confiance et on espère vous revoir pour </b>la suite en cours<b>... </b></h4>
        <div class="part2">
             <a href="{{url_for('index')}}" id="btn"><button type="button">Accueil</button></a>
        </div>
    </div>
    <script src="../static/js/thk.js"></script>
</body>
</html>